/* ╤Д╨╕╨╗╤М╤В╤А ╨╛╤В╨┤╨╡╨╗╤М╨╜╤Л╨╝ ╨▒╨╗╨╛╨║╨╛╨╝ */

#filterBlock {
  width: 500px;
  margin-bottom: 10px;
}

#filterBlockHeader {
  overflow: hidden;
  img, span {
    vertical-align: text-bottom;
  }
  a {
    font-size: 14px;
  }
}

#toggleFilterLink {
  text-decoration: none;
  border-bottom: 1px dotted;
  cursor: pointer;
}

#exportXlsLink {
  text-decoration: none;
  cursor: pointer;
}

#filterMain {
  select#checkbox_filter + button {
    background: #ffffff;
    border: 1px solid #cccccc;
    height: 28px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
    &:focus {
      border-color: #c7c7c7;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(188, 188, 188, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(188, 188, 188, 0.6);
    }
  }
  .fr-form-group {
    margin-bottom: 5px;
  }
  .groupByStatus {
    margin-bottom: 0;
  }
}

/* ╤Д╨╕╨╗╤М╤В╤А ╤Б╤В╤А╨╛╨║╨╛╨╣ ╨▓ ╤В╨░╨▒╨╗╨╕╤Ж╨╡ */

.filterStatusSelect button, .persCabOrdersTblOrderStatus button {
  height: 28px;
  padding-top: 5px;
}

.filterStatusSelect .ui-multiselect span.ui-icon {
  position: relative;
  top: -2px;
}

.filter_row .fr-icon-calendar {
  font-size: 16px;
  color: #555;
  cursor: pointer;
}

#dialogDatePicker .ui-datepicker-trigger {
  vertical-align: top;
  position: relative;
  left: -20px;
  top: 4px;
  cursor: pointer;
}

/* end www.abcp/admin/common.jscripts/filters.css */

/* www.abcp/admin/common.jscripts/call.order.css */

.callBlock {
  width: 400px;
  border: 0 solid #CCCCCC;
  padding: 25px;
  background: url('//astatic.abcp.ru/common.images/big_phone_grey.png') no-repeat -80px 180px;
}

.callMain {
  * {
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: 28px;
    color: #454545;
    margin: 0 0 10px 0;
  }
}

.callOrderButton {
  padding: 10px 0;
}

#actionResult {
  width: 250px;
  height: 20px;
  float: right;
  margin-top: 17px;
  margin-right: 10px;
  text-align: right;
  font-size: 12px;
}

#sendMessageOk {
  width: 400px;
  height: 100px;
  margin-top: 120px;
  font-size: 20px;
  display: none;
  text-align: center;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
}

/* end www.abcp/admin/common.jscripts/call.order.css */

/* feedback form */

.wFeedback {
  width: 600px;
  .textForRequired {
    font-size: 12px;
  }
  .feedbackError {
    color: #b94a48;
    display: inline-block;
    margin-top: 6px;
    font-size: 12px;
  }
}

.feedbackBlock .sendMessageOk {
  font: 14px/2em Arial;
}
