/* ╨в╨░╨▒╨╗╨╕╤Ж╤Л
.globalCase - ╨┐╨╡╤А╨▓╨╕╤З╨╜╤Л╨╡ ╤А╨╡╨╖╤Г╨╗╤М╤В╨░╤В╤Л ╨┐╨╛╨╕╤Б╨║╨░
.globalResult - ╨▓╤В╨╛╤А╨╕╤З╨╜╤Л╨╡ ╤А╨╡╨╖╤Г╨╗╤М╤В╨░╤В╤Л ╨┐╨╛╨╕╤Б╨║╨░
*/
/* ╨╛╨▒╤Й╨╕╨╡ ╤Б╤В╨╕╨╗╨╕ */

table {
  &.globalCase, &.globalResult {
    width: 100%;
    padding: 0;
    margin: 0 0 10px 0;
    border-collapse: separate;
    border-spacing: 0;
    color: #454545;
    font-size: 11px;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
  }
  &.globalCase thead th, &.globalResult thead th {
    background: #f0f0f0 url(//astatic.abcp.ru/common.images/global_tables/table_head_bg.png) repeat-x;
    height: 32px;
    padding: 2px 4px;
    font: bold 11px Arial;
    text-align: left;
    vertical-align: middle;
    color: #454545;
    border-left: 1px solid #e8e8e8;
  }
  &.globalCase th:first-child, &.globalResult th:first-child {
    border-left: 0;
    width: 18px;
  }
  &.globalCase th a, &.globalResult th a {
    font: 11px Arial;
  }
  &.globalCase tbody tr, &.globalResult tbody tr {
    height: 30px;
  }
  &.globalCase tbody td, &.globalResult tbody td {
    border-top: 1px solid #e8e8e8;
    vertical-align: middle;
    text-align: left;
    padding: 2px 4px;
    border-left: 1px solid #e8e8e8;
    color: #454545;
    font-size: 11px;
  }
  &.globalCase tbody td:first-child, &.globalResult tbody td:first-child {
    border-left: 0;
  }
  &.globalCase tbody td.noavail, &.globalResult tbody td.noavail, &.globalCase tbody td.noavail a, &.globalResult tbody td.noavail a {
    color: #a9a9a9;
  }
  &.globalCase {
    tbody tr {
      background: #fff;
      &:hover {
        background: #F0F0F0;
        cursor: pointer;
      }
    }
    th.casePartCode {
      white-space: nowrap;
    }
  }
  &.globalResult th select {
    font-size: 12px;
    max-width: 100px;
  }
  &.globalCase {
    td {
      &.caseInfo {
        text-align: center;
      }
      &.caseBrand, &.casePartCode {
        white-space: nowrap;
      }
      &.caseUrl {
        white-space: nowrap;
        width: 90px;
      }
      &.statusError {
        background-color: #FF9999;
      }
      &.statusOk {
        background-color: #99FF99;
      }
    }
    th.status {
      width: 180px;
    }
  }
  &.globalResult {
    th {
      &.purchasePrice {
        background: #DDCEED;
        white-space: nowrap;
      }
      &.supplier {
        background: #DDCEED;
      }
      &.deadline {
        width: 80px;
      }
    }
    tbody tr.white {
      background: #fff;
    }
    td {
      &.resultTitle {
        border-left: 0;
        padding-left: 10px;
        background: #E8F0F3;
        text-align: left;
        font-weight: bold;
      }
      &.resultTitleMain {
        border-left: 0;
        padding-left: 10px;
        background: #F5ECE7;
        text-align: left;
        font-weight: bold;
      }
      &.resultInfo {
        white-space: nowrap;
        text-align: center;
      }
    }
  }
}

/* ////////////*/

/* ╤В╨╛╨╗╤М╨║╨╛ ╨┐╨╡╨▓╨╕╤З╨╜╤Л╨╡ ╤А╨╡╨╖╤Г╨╗╤М╤В╨░╤В╤Л ╨┐╨╛╨╕╤Б╨║╨░ */

/* ////////////*/

/* ╤В╨╛╨╗╤М╨║╨╛ ╨▓╤В╨╛╤А╨╕╤З╨╜╤Л╨╡ ╤А╨╡╨╖╤Г╨╗╤М╤В╨░╤В╤Л ╨┐╨╛╨╕╤Б╨║╨░ */

/* ╨Ч╨░╨┐╤А╨░╤И╨╕╨▓╨░╨╡╨╝╤Л╨╣ ╨░╤А╤В╨╕╨║╤Г╨╗, ╨Э╨░ ╤Б╨║╨╗╨░╨┤╨╡*/

/* ╨Р╨╜╨░╨╗╨╛╨│╨╕, ╨Ю╤А╨╕╨│╨╕╨╜╨░╨╗╤М╨╜╤Л╨╡ ╨╖╨░╨╝╨╡╨╜╤Л, ╨Ю╤А╨╕╨│╨╕╨╜╨░╨╗╤М╨╜╤Л╨╡ ╨┤╨╡╤В╨░╨╗╨╕, ╨Э╨╡╤А╨╕╨│╨╕╨╜╨░╨╗╤М╨╜╤Л╨╡ ╨┤╨╡╤В╨░╨╗╨╕*/

/* ////////////*/

.redColor {
  color: #fc5a5a;
}

table.globalResult {
  td {
    &.resultInfo {
      text-align: center;
      a {
        text-decoration: none;
      }
    }
    &.resultOrder {
      white-space: nowrap;
      position: relative;
      width: 50px;
      input, a {
        display: inline-block;
        vertical-align: top;
        margin: 0 2px 0 0;
        zoom: 1;
        font-size: 12px;
      }
    }
    &.resultNoticeAvailability th.noticeAvailability table.globalResult td.resultNoticeAvailability {
      white-space: nowrap;
      text-align: center;
    }
    &.resultPartCode {
      white-space: nowrap;
    }
    &.resultPrice {
      text-align: center;
      white-space: nowrap;
      p {
        font-size: 10px;
      }
    }
    &.resultRetailPrice {
      text-align: center;
      white-space: nowrap;
    }
    &.resultPurchasesPrice {
      text-align: center;
      white-space: nowrap;
      font-weight: bold;
    }
    &.resultNoticeAvailability div {
      text-align: center;
    }
    &.resultBrandNumber {
      white-space: nowrap;
      .brand {
        float: left;
        margin-right: 20px;
      }
      .star {
        float: right;
        width: 15px;
        margin-left: -25px;
      }
    }
    &.resultWarehouse {
      white-space: nowrap;
    }
    &.resultUpdateTime {
      white-space: nowrap;
      text-align: center;
    }
    &.resultAvailability {
      text-align: center;
    }
  }
  tbody td.resultDescription {
    word-wrap: break-word;
  }
}

.searchInfoLink {
  display: block;
  position: relative;
  margin: 0 auto;
  .searchInfo {
    width: 16px;
    height: 16px;
    background: url("//astatic.abcp.ru/common.images/global_tables/info.png") no-repeat 0 0;
    margin: 0 auto;
  }
}

/* ╨Т╤Л╨┤╨╡╨╗╨╡╨╜╨╕╨╡ ╨╕╨╖╨▒╤А╨░╨╜╨╜╤Л╤Е ╨▒╤А╨╡╨╜╨┤╨╛╨▓ ╨▓ ╨┐╨╛╨╕╤Б╨║╨╡ */

div.favorite-brand {
  color: red;
  font-weight: bold;
  a, * {
    color: red;
    font-weight: bold;
  }
}

table.globalResult td.resultProductWeight {
  text-align: center;
  white-space: nowrap;
}

/**/
/* ╨Я╨╛╨╕╤Б╨║: ╨б╨╛╨╛╨▒╤Й╨╕╤В╤М ╨╛ ╨╜╨╡╨┐╤А╨░╨▓╨╕╨╗╤М╨╜╨╛╨╝ ╨░╨╜╨░╨╗╨╛╨│╨╡ */
/**/

#positionMenu ul {
  text-align: left;
  margin: 0;
  padding: 7px;
  position: absolute;
  /*visibility: hidden; */
  background: #FFFFFF;
  border: 1px solid #808080;
}

* html #positionMenu ul {
  width: 250px;
}

#positionMenu li {
  float: none;
  display: block;
  font-weight: normal;
  font-size: 12px;
  a {
    width: auto;
  }
}

.positionMenuButton {
  width: 15px;
  float: right;
  display: none;
  padding-left: 6px;
  text-align: center;
}

.positionMenuButtonStar {
  width: 15px;
  float: right;
  display: block;
  padding-left: 6px;
  text-align: center;
  .validAnalogMsg {
    font-size: 12px;
    height: 17px;
  }
}

.rowExtend {
  float: right;
  width: 15px;
  margin-left: -25px;
}

.brandNumber {
  float: left;
  margin-right: 20px;
}

/* ╨д╨╕╨║╤Б ╨┤╨╗╤П ╨░╨▓╤В╨╛╨║╨╛╨╝╨┐╨╗╨╕╤В╨░ */

ul.ui-autocomplete {
  z-index: 1000 !important;
}

.showGroupedRowsLinks {
  background: url(//astatic.abcp.ru/common.images/global_tables/k.png) no-repeat;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

/* ╨а╨╡╨┤╨░╨║╤В╨╕╤А╤Г╨╡╨╝╤Л╨╡ ╨║╨░╤В╨░╨╗╨╛╨│╨╕ */

.myCatalogBreadcrumbs {
  min-width: 750px;
  max-width: 1260px;
  width: 100%;
  clear: both;
}

.myCatalogPaginator {
  min-width: 750px;
  max-width: 1260px;
  width: 100%;
  clear: both;
  > div {
    height: 27px;
  }
}

.myCatalogBreadcrumbs {
  span {
    color: #454545;
    font-size: 13px;
    a {
      color: #0263b0;
      font: 13px/16px 'arial';
      text-decoration: underline;
      &:hover {
        color: #3a83d0;
      }
    }
  }
  > div {
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #e5e5e5;
    margin: 10px 0;
    padding: 10px;
  }
}

.myCatalogPaginator ul {
  margin: 0;
  li {
    background: none;
  }
}

.myCatalogTbl {
  margin: 10px 0 10px 0;
  background: #fff;
  border: 0 none;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 1260px;
  min-width: 750px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  tr {
    background: #fff;
    &:nth-child(2n+1) {
      background: #FAFAFA;
    }
    &:hover {
      background: #D9EDF7;
    }
    &.myCatalogTop {
      background: #fff;
    }
  }
  td {
    border-top: 1px solid #e5e5e5;
    color: #454545;
    font: 13px/16px 'arial';
    height: 14px;
    padding: 5px 10px;
    text-align: left;
    vertical-align: middle;
  }
  th {
    border-top: 1px solid #e5e5e5;
    color: #454545;
    font: 13px/16px 'arial';
    height: 14px;
    padding: 5px 10px;
    text-align: left;
    vertical-align: middle;
    background-color: #f0f0f0;
    font-weight: bold;
    padding: 7px 10px;
    text-align: left;
    a {
      color: #0263b0;
      font: bold 13px/16px 'arial';
      text-decoration: underline;
      &:hover {
        color: #3a83d0;
      }
    }
  }
  td a {
    color: #0263b0;
    font: 13px/16px 'arial';
    text-decoration: underline;
    &:hover {
      color: #3a83d0;
      text-decoration: underline;
    }
  }
  .myCatalogBrandCell {
    max-width: 300px;
    min-width: 150px;
  }
  td.myCatalogImageCell {
    text-align: center;
    max-width: 100px;
    width: 1px;
    img {
      max-width: 100px;
      max-height: 200px;
    }
  }
}

.MyCatalogSelectBlock select {
  max-width: 400px;
  width: auto;
  display: inline-block;
  margin: 0 0 5px 0;
}

/* ╨Ъ╨╛╤А╨╖╨╕╨╜╨░. ╨б╤В╨╛╨╗╨▒╨╡╤Ж ╨Ю╤В╨┐╤А╨░╨▓╨╕╤В╤М*/

.cart_table td.cartIsSend {
  text-align: center !important;
}
