@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin.scss';
@import 'import/wordpress.scss';
@import 'sprite';
@import 'font_fontawesome';
@import 'font_opensans';
@import 'font_roboto';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}

header {
  display: none;

  height: 1px;

  background-color: $light-gray;
  .logo {
    display: block;

    width: $width / 10;
    img {
      max-width: 100%;
    }
  }
}
nav {
  ul {
    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
  .headnav {
    width: $width / 5;
  }
}

section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}
.list-first {
  display: block;

  width: 100%;
  margin: 0;
  padding: 20px;

  @extend .clearfix;
  li {
    display: inline-block;
    float: left;

    width: 160px;
    height: 130px;
    margin: 0 10px 20px;

    text-align: center;

    border: $base-border;
    border-radius: $base-border-radius;
    a {
      position: relative;
      z-index: 0;

      display: block;
      overflow: hidden;

      width: 100%;
      height: 100%;

      border-radius: $base-border-radius;

      @extend .align-center-parent;
      span {
        position: absolute;
        z-index: 2;
        top: 70%;

        display: block;

        width: 100%;
        height: 100%;

        text-align: center;

        color: $base-font-color;
        color: #fff;
        background-color: #000;
        background-color: rgba(0, 0, 0, .7);

        border-bottom-right: $base-border-radius;
        border-bottom-left: $base-border-radius;
      }
      img {
        max-width: 100%;
        max-height: 100%;

        @extend .align-center;
      }
      &:hover {
        span {
          background-color: rgba(0, 0, 0, .4);
        }
      }
    }
  }
}
.list-model {
  display: block;

  width: 100%;
  margin: 0;
  padding: 20px;

  @extend .clearfix;
  li {
    display: inline-block;
    float: left;

    width: 220px;
    height: 200px;
    margin: 0 10px 20px;

    text-align: center;

    border: $base-border;
    border-radius: $base-border-radius;
    a {
      position: relative;
      z-index: 0;

      display: block;
      overflow: hidden;

      width: 100%;
      height: 100%;

      border-radius: $base-border-radius;

      @extend .align-center-parent;
      span {
        position: absolute;
        z-index: 2;
        top: 70%;

        display: block;

        width: 100%;
        height: 100%;

        text-align: center;

        color: $base-font-color;
        color: #fff;
        background-color: #000;
        background-color: rgba(0, 0, 0, .7);

        border-bottom-right: $base-border-radius;
        border-bottom-left: $base-border-radius;
      }
      img {
        max-width: 100%;
        max-height: 100%;

        @extend .align-center;
      }
      &:hover {
        span {
          background-color: rgba(0, 0, 0, .4);
        }
      }
    }
  }
}
.list-model {
  td,
  th {
    font-size: .9em;

    padding: .5em;
    &:nth-child(1) {
      width: 12%;
    }
    &:nth-child(2) {
      width: 15%;
    }
    &:nth-child(3) {
      width: 12%;
    }
    &:nth-child(4) {
      width: 10%;

      text-align: center;
    }
    &:nth-child(5) {
      width: 30%;
    }
    &:nth-child(6) {
      width: 10%;

      text-align: center;
    }
    &:nth-child(7) {
      width: 20%;

      text-align: center;
    }
  }
  tr {
    &:hover {
      td {
        background-color: #c1c1c1;
      }
    }
  }
}
.list-modifications {
  td,
  th {
    padding: .5em;
    &:nth-child(1) {
      width: 50%;
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      text-align: center;
    }
    &:nth-child(3) {
      width: 20%;
    }
    &:nth-child(2),
    &:nth-child(4) {
      width: 15%;
    }
  }
}
.c-article {
  padding: 1em;
}
.c-title {
  font-size: 3em;
  img {
    height: 1em;
    margin-right: .3em;
  }
}


footer {
  display: none;

  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $light-gray;
  .inner {
    height: $footer;
  }
}

@import 'import/print';
